name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo check

  test:
    name: Test (Unit)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo install tree-sitter-cli
      - run: rustup component add rust-analyzer
      - run: make deps/treesitter
      - run: make test

  test-e2e:
    name: Test (E2E)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo install tree-sitter-cli
      - run: rustup component add rust-analyzer
      - run: make deps/treesitter
      - run: make test_e2e

  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo fmt --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo clippy -- -D warnings
